@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.container{
    display: flex;
    min-height: 100vh;
}
.left{
    width: 60%;
    padding: 0 140px 60px;
    background-image: url("images/bg-pattern-desktop.svg");
    background-size: cover;
}

.logo{
    margin: 50px 0;
}

.mobile-img{
    display: none;
}

.inner-container{
    max-width: 400px;
}

h1{
    text-transform: uppercase;
    font-size: 60px;
    letter-spacing: 10px;
    color:hsl(0, 6%, 24%);
    margin-bottom: 0;
}

h1 span{
    color:hsl(0, 36%, 70%);
    font-weight: 300;
}

p{
    color:hsl(0, 36%, 70%);
    line-height: 25px;
    font-size: 14px;
    margin: 30px 0;
}

form{
    position: relative;
}

input{
    background-color: transparent;
    border: 1px solid hsl(0, 36%, 70%);
    border-radius: 50px;
    padding: 13px;
    width: 100%;
}

input:focus{
    outline: none;
}

input::placeholder{
    color: hsl(0, 36%, 70%);
}

form.error input{
    border: 2px solid hsl(0, 93%, 68%);
}

button{
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%),hsl(0, 74%, 74%));
    box-shadow: 2px 5px 10px hsla(0, 36%, 70%, 0.5);
    border: none;
    border-radius: 50px;
    padding: 10px;
    width: 80px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

button:hover{
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%),hsl(0, 74%, 74%));
}

.error-img{
    position: absolute;
    top: 10px;
    right: 100px;
    display: none;
}

form.error .error-img{
    display: block;
}

small{
    display: none;
    margin-top: 15px;
    margin-left: 13px;
    color: hsl(0, 93%, 68%);
}

form.error small{
    display: block;
}

.right{
    width: 40%;
    
}

.main-img{
    background-image: url("images/hero-desktop.jpg");
    background-size: cover;
    background-position: center center;
}

@media screen and (max-width: 768px) {
    .left{
        width: 100%;
    }
    .logo{
        margin: 30px 0;
        width: 100px;
    }
    .inner-container{
        text-align: center;
    }
    
    h1{
        font-size: 40px;
        margin-top: 50px;
    }
    .right{
        display: none;
    }
    .mobile-img{
        display: block;
        margin-left: -140px;
        margin-right: -140px;
        width: calc(100% + 280px);
    }
}

